################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/G08_Project2021/.vs/G08_Project2021/v16
